@media(min-width: 585px) {
    body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh
    }
}
@media (max-width: 584px){
    body {
        background-color: black;
        color: white;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

}