* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.app{
  background-color: white;
  height: 550px;
  width: 550px;
  font-family: 'Karla';
}

.header {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  height: 65px;
  width: 550px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px
}

.header--left {
  font-size: 20.75;
  left: -25px;
  margin-right: auto;
} 

.header--right {
  font-size: 12px;
  margin-left: auto;
  
}

.header--img {
  width: 31px;
  height: 26px;
  padding-right: 7px
}

.inputs--area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: -9px;
  margin: 30px;
  margin-bottom: 15px;
}

.input {
  width: 230px;
  height: 45px;
  margin: 0 9;
  color: black;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 10px;
}

.button--area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 477px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.memeDisplay {
  margin-bottom: 20px;
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 477px;
  height: 268px;
  /* padding: 20px; */
}